<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrapper!</title>

    <style>

    </style>

</head>
<body>
    
    <main id="feed"></main>

    <script>
        const feed = document.querySelector('#feed');
        
        fetch('http://localhost:3000/results')
            .then(response => response.json())
            .then(data => {
                data.forEach(element => {
                    const title = `
                        <div>
                            <h1>${element.title}</h1>
                            <p>${element.url}</p>
                        </div>
                    `;
                    feed.insertAdjacentHTML('beforeend', title);
                });
            })
            .catch(error => console.log(error))

    </script>

</body>
</html>